<!-- If the Component need to visible for all then we have to place selector of the component in app Component -->
<!-- That Selector will be available in component ts file  -->
<span class="title" ><h1>{{ title }} app is running!</h1></span>
<div>
  <!-- Custom Method -->
  <!-- In App Component we can do the Property Binding -->
<app-child  *ngIf="isVisible" [myNumber]="counter"></app-child>
<app-student-list></app-student-list>
<app-student-details></app-student-details>
<!-- <app-cp [fromParent]="parentMsg"></app-cp> -->
<!-- <app-interaction [fromParent]="parentMsg"></app-interaction> -->
<!-- From here we can send the Binding value to Child Components -->
<!-- If the value is coming from Class to view then we have to use Property Binding -->
<div class="btn_align" >
<button type="button" class="btn btn-primary" (click) ="increment()" id="alignment">+1</button>
<button type="button" class="btn btn-danger" (click) ="decrement()">-1</button>
<button type="button" class="btn btn-warning" (click) ="swithVisiblity()" id="alignment">Destroy</button>
</div>
<!-- <div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div> -->
</div>